RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]


<LimitExcept GET POST PUT DELETE OPTIONS>
  Require all denied
</LimitExcept>